.vaults-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.vaults-content-subtitle {
  font-weight: 500;
  font-size: 12px;
  padding-top: 16px;
}

/* Vault Selector */
.vaults-selector {
  display: flex;
  width: 100%;
  height: 57px;
  margin-top: 16px;
}

.vaults-selector .vaults-selector-content {
  flex: 1;
  border: 0.5px solid var(--color-border);
  border-radius: 4.53846px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.vaults-selector .vaults-selector-content .vaults-selector-icon {
  width: 51px;
  height: 51px;
  border: 0.5px solid var(--color-border);
  border-radius: 4.53846px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vaults-selector .vaults-selector-content .vaults-selector-icon.uniswap {
  border: none;
}

.vaults-selector .vaults-selector-content .vaults-selector-icon img {
  height: 37px;
}

.vaults-selector .vaults-selector-content .vaults-selector-icon.uniswap img {
  height: 49px;
}

.vaults-selector .vaults-selector-content .vaults-selector-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.vaults-selector .vaults-selector-combo {
  width: 15px;
  height: 100%;
  background: var(--color-background);
  border: 0.5px solid var(--color-border);
  border-radius: 4.53846px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.vaults-selector .vaults-selector-combo svg {
  width: 9px;
}

.vaults-selector:hover .vaults-selector-content {
  border: 1px solid var(--color-selectable-border);
}

.vaults-selector:hover .vaults-selector-combo {
  border: 1px solid var(--color-selectable-border);
}

/* Vault Row */
.vaults-row {
  margin-top: 16px;
  width: 100%;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
}

.vaults-row .vaults-row-value {
  width: calc(50% - 2.5px);
  height: 64px;
  border: 0.5px solid var(--color-border);
  border-radius: 4.53846px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vaults-row .vaults-row-value .name {
  font-size: 12px;
  line-height: 17px;
}

.vaults-row .vaults-row-value .value {
  font-size: 20px;
  line-height: 27px;
}

.vaults-row .vaults-row-value svg {
  height: 10px;
  margin-left: 3px;
}

.vaults-row .vaults-row-price {
  width: calc(50% - 2.5px);
  height: 75px;
}

.vaults-button {
  background: var(--color-caption);
  color: var(--color-background);
  border-radius: var(--border-default-radius);
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  height: 49px;
  margin: 16px auto 0px;
}

.vaults-button-error {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-error-message-bg);
  color: var(--color-text-disable);
  border-radius: var(--border-default-radius);
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  height: 49px;
  margin: 16px auto 0px;
}

.vaults-row2 {
  margin-top: 16px;
  width: 100%;
  min-height: 59px;
  display: flex;
  justify-content: space-between;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-default-radius);
  padding: 17px 11px;
}

.vaults-content-input-box {
  margin-top: 16px;
  width: 100%;
  min-height: 59px;
  display: flex;
  justify-content: space-between;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-default-radius);
  padding: 17px 11px;
}

.vaults-content-input-box:hover {
  border: 1px solid var(--color-selectable-border);
}

.vaults-row3 {
  width: 100%;
  margin-top: 16px;
}

.vaults-remove-amount-input {
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  color: var(--color-text);
  background: transparent;
  text-align-last: right;
  flex: 1;
  width: 100%;
}

.vaults-remove-amount-percent {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text);
  padding: 0px 10px;
}

.valuts-receive {
  width: calc(50% - 7px);
  background: #000000;
  border: 0.5px solid var(--color-border);
  border-radius: var(--border-default-radius);
  display: flex;
}

.valuts-receive-icon {
  height: 59px;
  width: 59px;
  border-right: 0.5px solid var(--color-border);
  border-top-right-radius: var(--border-default-radius);
  border-bottom-right-radius: var(--border-default-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.valuts-receive-icon img {
  height: 43px;
}

.valuts-receive-value {
  flex: 1;
  font-size: 25px;
  font-weight: 700;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.valuts-receive-mode {
  color: var(--color-caption);
  font-weight: normal;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 16px;
}

.vaults-row-arrow {
  position: absolute;
  background: var(--color-background);
  border: 0.5px solid var(--color-border);
  border-radius: var(--border-default-radius);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(50% - 30px);
  margin-top: -40px;
}