.account-button-container {
  display: block;
  min-width: 190px;
  height: 46px;
}

.account-button-container.white-full-width {
  width: 100%;
}

.account-button-container .connect-button {
  width: 100%;
  background: var(--color-background);
  border: 1px solid var(--color-caption);
  color: var(--color-caption);
  
  font-size: 16px;
  font-weight: 600;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: var(--padding-narrow);
}

.account-button-container .connect-button.white-full-width {
  background: var(--color-text);
  color: var(--color-background);
  border: none;
}

.account-button-container .info {
  width: 100%;
  height: 100%;

  padding: 0px 31px;

  background: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 4px;
  
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-button-container .info .eth {
  height: 25px;
  margin-right: 5px;
}

.account-button-container .info .connected {
  height: 14px;
  margin: 0px 23px;
}

@media screen and (max-width: 500px) {
  .account-button-container {
    height: 32px;
  }

  .account-button-container .connect-button {
    font-size: 13px;
    padding: 5px;
  }

  .account-button-container .info .desktop {
    display: none;
  }

  .account-button-container .info .connected {
    margin: 0px 10px;
  }

  .account-button-container .info {
    padding: 0px 10px;
  }

  .account-button-container .info .eth {
    display: none;
  }
}